<header role="banner" class="header">
        <div class="container">
            <div class="header-wrapper">
                <a href="{{base}}index.html" class="header-logo">
                    <img width="660" height="660" src="{{base}}images/logo.svg" alt="Logo SA06" class="header-logo-image">
                    <span class="header-logo-tagline">SYNDICAT AUTONOME 06</span>
                </a>

                <nav role="navigation" aria-label="Menu principal" class="menu">
                    <button type="button" aria-controls="menu" aria-expanded="false" class="menu-toggle">
                        <span class="menu-toggle-label">Menu</span>
                        <i class="menu-toggle-icon"></i>
                    </button>

                    <div id="menu" data-state="closed" class="menu-wrapper">
                        <div class="menu-inner">
                            <ul class="menu-toolbar">
                                <!-- Icônes des réseaux sociaux -->
                                <li class="menu-item">
                                    <a href="https://www.facebook.com/saspppats06" target="_blank" rel="noopener noreferrer" aria-label="Facebook" class="social-icon social-icon--facebook">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://x.com/Faspp06" target="_blank" rel="noopener noreferrer" aria-label="X (Twitter)" class="social-icon social-icon--twitter">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.instagram.com/saspp06/" target="_blank" rel="noopener noreferrer" aria-label="Instagram" class="social-icon social-icon--instagram">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.tiktok.com/@saspp06" target="_blank" rel="noopener noreferrer" aria-label="Tiktok" class="social-icon social-icon--tiktok">
                                        <i class="fa-brands fa-tiktok"></i>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.youtube.com/@saspp06" target="_blank" rel="noopener noreferrer" aria-label="YouTube" class="social-icon social-icon--youtube">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a href="{{base}}pages/adherer.html" target="_blank" rel="noopener noreferrer" class="menu-button menu-button-bleu">
                                        <span class="menu-button-label">Adhérer</span>
                                        <img width="500" height="500" class="menu-button-icon" src="{{base}}images/like.png" alt="">
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="{{base}}pages/contact.html" target="_blank" rel="noopener noreferrer" class="menu-button menu-button-bleu">
                                        <span class="menu-button-label">Contactez-nous</span>
                                        <img width="512" height="512" class="menu-button-icon" src="{{base}}images/enveloppe.png" alt="">
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="{{base}}pages/faq.html" rel="noopener noreferrer"
                                        class="menu-button menu-button-bleu">
                                        <span class="menu-button-label">FAQ</span>
                                        <img width="263" height="461" class="menu-button-icon" src="{{base}}images/interrogation.png" alt="">
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="{{base}}pages/actu.html" class="menu-link menu-link--primary">Actualités</a>
                                </li>

                                <li class="menu-item">
                                    <a href="{{base}}index.html#sa06" class="menu-link menu-link--primary">Le Syndicat Autonome 06</a>
                                </li>

                                <li class="menu-item">
                                    <a href="{{base}}pages/media.html" class="menu-link menu-link--primary">Vidéos</a>
                                </li>

                                <li class="menu-item">
                                    <button type="button" aria-controls="menu-sa06" aria-expanded="false"
                                        class="menu-link menu-link--primary">Vos droits
                                        <svg aria-hidden="true" class="menu-arrow icon" viewBox="0 0 16 16">
                                            <path d="M4 5.99995L8 9.99995L12 5.99995" stroke="white" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                    <div id="menu-sa06" data-state="closed" class="submenu">
                                        <div class="submenu-header">
                                            <p class="h400 submenu-title">Les droits syndicaux</p>
                                            <p class="submenu-text">
                                                Les droits syndicaux permettent aux salariés de se regrouper en syndicats pour défendre collectivement leurs intérêts professionnels. 
                                                Ils incluent la liberté syndicale, le droit de représentation, de négociation et d'expression sur le lieu de travail. 
                                            </p>

                                            <button data-close="menu-sa06"
                                                class="tertiary-button tertiary-button--reverse submenu-close"
                                                type="button">
                                                <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.6666 8L3.33334 8M3.33334 8L7.99997 12.6667M3.33334 8L7.99997 3.33336"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                <span class="tertiary-button-label">Retour</span>
                                            </button>
                                        </div>

                                        <div class="submenu-body">
                                            <div class="submenu-col">
                                                <ul class="submenu-list">
                                                    <li class="submenu-item">
                                                        <a href="{{base}}pages/droits/greve.html"
                                                            class="tertiary-button">
                                                            <span class="tertiary-button-label">Le droit de grève</span>
                                                            <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="submenu-item">
                                                        <a href="{{base}}pages/droits/conges.html"
                                                            class="tertiary-button"><svg aria-hidden="true"
                                                                class="tertiary-button-icon icon" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>

                                                            <span class="tertiary-button-label">Les congés annuels</span>
                                                            <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="submenu-item">
                                                        <a href="#"
                                                            class="tertiary-button"><svg aria-hidden="true"
                                                                class="tertiary-button-icon icon" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>

                                                            <span class="tertiary-button-label">La retraite</span>
                                                            <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="submenu-item">
                                                        <a href="#"
                                                            class="tertiary-button"><svg aria-hidden="true"
                                                                class="tertiary-button-icon icon" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>

                                                            <span class="tertiary-button-label">Droit de retrait</span>
                                                            <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="menu-item">
                                    <button type="button" aria-controls="menu-sinformer" aria-expanded="false"
                                        class="menu-link menu-link--primary">
                                        S&#039;informer
                                        <svg aria-hidden="true" class="menu-arrow icon" viewBox="0 0 16 16">
                                            <path d="M4 5.99995L8 9.99995L12 5.99995" stroke="white" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                    </button>

                                    <div id="menu-sinformer" data-state="closed" class="submenu">
                                        <div class="submenu-header">
                                            <p class="h400 submenu-title">Ressources utiles !</p>

                                            <p class="submenu-text">Retrouvez ici toutes les informations.</p>

                                            <button data-close="menu-sinformer"
                                                class="tertiary-button tertiary-button--reverse submenu-close"
                                                type="button"><svg aria-hidden="true" class="tertiary-button-icon icon"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.6666 8L3.33334 8M3.33334 8L7.99997 12.6667M3.33334 8L7.99997 3.33336"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>

                                                <span class="tertiary-button-label">Retour</span>
                                                <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.6666 8L3.33334 8M3.33334 8L7.99997 12.6667M3.33334 8L7.99997 3.33336"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                        </div>

                                        <div class="submenu-body">
                                            <div class="submenu-col">
                                                <ul class="submenu-list">
                                                    <li class="submenu-item">
                                                        <a href="{{base}}pages/sinformer/rifseep.html"
                                                            class="tertiary-button"><svg aria-hidden="true"
                                                                class="tertiary-button-icon icon" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>

                                                            <span class="tertiary-button-label">RIFSEEP</span>
                                                            <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="submenu-item">
                                                        <a href="#" class="tertiary-button"><svg
                                                                aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>

                                                            <span class="tertiary-button-label">Le Supplément Familial de Traitement (SFT)</span>
                                                            <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="submenu-item">
                                                        <a href="#"
                                                            class="tertiary-button"><svg aria-hidden="true"
                                                                class="tertiary-button-icon icon" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>

                                                            <span class="tertiary-button-label">NBI : La Nouvelle Bonification Indiciaire</span>
                                                            <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="submenu-item">
                                                        <a href="#"
                                                            class="tertiary-button"><svg aria-hidden="true"
                                                                class="tertiary-button-icon icon" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>

                                                            <span class="tertiary-button-label">Indemnité de Résidence</span>
                                                            <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="submenu-item">
                                                        <a href="#"
                                                            class="tertiary-button"><svg aria-hidden="true"
                                                                class="tertiary-button-icon icon" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>

                                                            <span class="tertiary-button-label">Grilles Indiciaires</span>
                                                            <svg aria-hidden="true" class="tertiary-button-icon icon"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3.33337 8H12.6667M12.6667 8L8.00003 3.33334M12.6667 8L8.00003 12.6666"
                                                                    stroke="white" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="{{base}}pages/asa/asa.html" target="_blank" rel="noopener noreferrer" class="menu-link menu-link--primary">
                                        <img width="483" height="464" class="menu-item-asa" src="{{base}}images/asa/Logo-ASA06.png" alt="ASA">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="search"><button aria-controls="search" aria-expanded="false"
                        aria-label="Ouvrir la recherche"
                        class="round-button round-button--fill round-button--orange search-toggle" type="button"><svg
                            aria-hidden="true" class="round-button-icon search-icon icon" viewBox="0 0 16 17">
                            <path
                                d="M14 14.5L11.1 11.6M12.6667 7.83333C12.6667 10.7789 10.2789 13.1667 7.33333 13.1667C4.38781 13.1667 2 10.7789 2 7.83333C2 4.88781 4.38781 2.5 7.33333 2.5C10.2789 2.5 12.6667 4.88781 12.6667 7.83333Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <svg aria-hidden="true" class="round-button-icon search-icon icon" viewBox="0 0 16 16">
                            <path d="M4 12L8 8M8 8L4 4M8 8L12 4M8 8L12 12" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>

                    <div id="search" data-state="closed" class="search-wrapper">
                        <div class="container container--sm">
                            <label for="search_input" class="h400 search-title">Que cherchez-vous ?</label>

                            <form action="{{base}}pages/search.html" role="search" class="search-form">
                                <div class="autocomplete">
                                    <input id="search_input" type="search" name="r" placeholder="Droits, actualités.."
                                        value="" data-source="/suggestions-de-recherche" class="search-input">

                                    <div hidden class="autocomplete-suggestions"></div>
                                </div>

                                <button type="submit" aria-label="Lancer la recherche"
                                    class="round-button round-button--fill round-button--orange search-submit"><svg
                                        aria-hidden="true" class="round-button-icon icon" viewBox="0 0 16 17">
                                        <path
                                            d="M14 14.5L11.1 11.6M12.6667 7.83333C12.6667 10.7789 10.2789 13.1667 7.33333 13.1667C4.38781 13.1667 2 10.7789 2 7.83333C2 4.88781 4.38781 2.5 7.33333 2.5C10.2789 2.5 12.6667 4.88781 12.6667 7.83333Z"
                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </form>

                            <ul class="search-suggestions">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
